* {
    margin: 0;
    padding: 0;
}

.container-max-widths {
    padding: 20px;
    margin-top: 220px;
}

h1 {
    font-size: 55px;
    font-style: normal;
    color: #1877f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 20px;
}

.form {
    background-color: #f6f8fc;
    padding: 20px;
    margin-top: 220px;
    border-radius: 8px;
    width: 440px;
    margin-bottom: 50px;

    
}

.form input {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border-color: rgb(223, 215, 215);
    padding: 17px;
    background-color: white;
    width: 400px;
}

button {
    margin-top: 15px;
    
}

.btx {
    width: 400px;

}

.btgm {
    width: 380px;
}

p {
    font-size: 16px;
    color: #1877f2;
    margin-top: 10px;
}

p a {
    color: #1877f2;
}

